@use "./base.scss";

// put your custom CSS here!

.callout {
  &[data-callout="dnd_char"] {
    --color: #00000000;
    --border: #a2a9b1;
    --bg: #222;

    width: 300px;
    border: 1px solid var(--border);
    background-color: var(--bg);
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: var(--color);
    float: right;
    margin: -10px 10px 10px 10px;
  }

  &[data-callout="dnd_char"] .callout-icon {
    display: none;
  }

  &[data-callout="dnd_char"] .callout-title {
    font-size: 16px;
    font-weight: bold;
    background-color: #84bdff00;
    padding: 5px;
    border-bottom: 1px solid var(--border);
    text-align: center;
    margin: -10px -10px 10px -10px;
    display: none;
  }

  &[data-callout="dnd_char"] .callout-content {
    padding: 5px 0;
  }

  &[data-callout="dnd_char"] .callout-content h3 {
    font-size: 14px;
    margin: 5px 0;
  }

  &[data-callout="dnd_char"] .callout-content p {
    margin: 5px 0;
  }

  &[data-callout="dnd_char"] .callout-image {
    text-align: center;
    margin: 10px 0;
  }

  &[data-callout="dnd_char"] .callout-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--border);
  }

  /* Media query for mobile devices */
  @media (max-width: 600px) {
    &[data-callout="dnd_char"] {
      float: none;
      width: 100%;
      margin: 10px 0; /* Adjust margins for mobile */
    }

    /* Ensure the callout title and content are full width */
    &[data-callout="dnd_char"] .callout-title {
      margin: 0;
    }
  }
}
